[client-server]
port = 3306

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mariadb.conf.d/

[mysqld]
bind-address            = 0.0.0.0
port                    = 3306
datadir                 = /var/lib/mysql

skip-name-resolve

init-file               = /var/lib/mysql/init.sql

innodb_buffer_pool_size = 64M
